<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Interface</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="http://localhost:8000/static/app/styles1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
</head>
<body>
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <header>
            <h1>Tên Quizz của bạn là...</h1>
            <input type="text" placeholder="Mời bạn nhập vào tên" id="nameInput">
            <button class="start-btn" onclick="startQuiz()">Bắt đầu</button>
        </header>
        <div class="settings">
            <div class="option" data-aos="fade-right" data-aos-delay="200">
                <label for="text-speech">Đọc to văn bản</label>
                <input type="checkbox" id="text-speech">
            </div>
            <div class="option" data-aos="fade-right" data-aos-delay="400">
                <label for="meme">Meme</label>
                <input type="checkbox" id="meme" checked>
            </div>            
            <div class="option" data-aos="fade-right" data-aos-delay="600">
                <label for="sound-effect">Hiệu ứng âm thanh</label>
                <input type="checkbox" id="sound-effect" checked>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();

        function startQuiz() {
            const nameInput = document.getElementById('nameInput').value.trim();
            if (nameInput) {
                const url = new URL(window.location.href);
                url.pathname = '/countdown/';
                url.searchParams.set('name', nameInput);
                window.location.href = url.toString();
            } else {
                alert('Vui lòng nhập tên của bạn.');
            }
        }
    </script>
</body>
</html>
